body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

input {
  outline: none;
  padding: 12px;
  margin: 5px;
  margin-top: 15px;
  border-radius: 3px;
  border: 1px solid black;
}
::-webkit-input-placeholder { /* Chrome */
  color: red;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
  color: black;
}
span {
  color: #e228a8;
}
.results-header {
  color: #8454b3;
}


.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search {
  background-color: lightpink;
  opacity: 0.5;
  text-align: center;
  display: inline-flex;
}

#search-button {
  background-color: purple;
  text-align: center;
  color: #33bfc3;
}
.gif-list {
  min-height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.gif-view {
  border-style: solid;
  border-color: #638CA6;
  display: inline-block;
  margin: 5px;
  height: 500px;
  width: 500px;
  display: inline-flex;
  align-self: flex-start;
}
.gif-view:first-child, .gif-view:last-child {
  margin-bottom: 30px;
}

footer {
  overflow: hidden;
  background-color: lightblue;
  position: fixed;
  bottom: 0;
  width: 100%;
}
